<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta content="notranslate" name="google"/>
    <meta content="LAWPLUG webapp" name="author">

    <!-- Disable tap highlight on IE -->
    <meta content="no" name="msapplication-tap-highlight">

    <link href="./static/assets/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="./static/assets/favicon.ico" rel="icon">


    <title>LAWPLUG</title>

    <link href="./static/main.a3f694c0.css" rel="stylesheet">
</head>

<body>

<!-- Add your content of header -->
<header>
    <nav class="navbar  navbar-fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle uarr collapsed" data-target="#navbar-collapse-uarr" data-toggle="collapse"
                        type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./index.html" title="">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-uarr">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="active" href="./index.html" title="">Home</a></li>
                    <li><a href="./about.html" title=""> About</a></li>
                    <li><a href="./services.html" title=""> Services </a></li>
                    <li><a href="./contact.html" title="">Contact</a></li>
                    <!--<li><a href="./blogboard.html" title="">blogboard</a></li>-->
                    <!--          <li><a href="./join community.html" title="">Join Community</a></li>-->
                    <li>
                        <p>
                            <!--              <a href="./download.html" class="btn btn-primary navbar-btn" title="">Download</a>-->
                        </p>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>


<div class="">
    <div class="container">
        <div class="row">

            <div class="col-xs-12">
                <!--               <img class="img-responsive" src="./static/assets/images/lets-talk-solutions.jpeg">-->
            </div>
        </div>
    </div>
</div>

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="text-center">
                    <h1>BACKGROUND</h1>
                </div>
                <p class="section-container-spacer"> We are a Law firm with specialization cutting across; I C T Law, Corporate
                    Law, Business & Commercial Law, Sport & Entertainment Law, Property Law and General
                    Litigation.

                    Our Principal has over 5 years experience in the legal profession, building a reputation of honesty,
                    delivery and client centric practice.

                    The pillars of our law firm are; Professionalism, Effectiveness and Complexity of solutions for our
                    clients.

                </p>

                <div class="row section-container-spacer">
                    <!--                        <div class="col-md-6">-->
                    <img class="img-responsive" src="./static/assets/images/web-solutions.png">
                </div>
                <!--                        <div class="col-md-6">-->
                <!--                            <img class="img-responsive" src="./static/assets/images/ai-logo.png">-->
                <!--                        </div>-->
            </div>

        </div>

        <div class="col-xs-12 col-md-8 col-md-offset-2">

            <p>
                In our work, we focus on staying current with the legal environment in Nigeria, Africa and around the
                world; using knowledge not only from domestic resources but from foreign resource as well. We believe
                services based on proficiency and qualifications are the pillars of success.
                The dynamic development of business and engagements require a legal team, able to provide effective
                solutions, based on experience in particular legal areas.
                Therefore, our target is to provide our clients with legal support in order to aid them perform their
                own activities relying on our legal advisory.
            <p>
                Most recently, we invested in Artificial Intelligence, Web Application, Machine Learning and Data
                Science acquiring a certified knowledge in PYTHON software Programming.
                We are members of the Nigeria Bar Association, Abuja branch (unity bar) and a registered and accredited
                legal practice firm with the Corporate Affairs Commission. We have been directly involved in the
                formation and scaling of venture capitals in Nigeria employing our knowledge and expertise in corporate
                Law, drafting and Litigation. You will agree with us that your idea is next.

            <p> Our goal is to aid, Foreign companies get their footing in Nigeria's corporate jungle; working on direct and portfolio investment ideas. Taking the company from startup to big startup with documentations.
            <p> Our MISSION: to ensure client satisfaction through quality legal aid service and delivery
            <p> VISION: build a tech law firm that thrives on the ability to solve complex problems with technology and
                legal expertise
            </p>
            We put in the work to paper work and get mentions for documentations, with our ever growing staffer strength
            handling outsourced documentations from several jurisdictions. Our work speaks volumes of capacity. working
            on your project will be a pleasure.

            </p>

            For the team...

            </p>
            <small class="signature pull-right">emeka onyebuchi oboli, esq</small>
            <!-- <div class="col-md-4">-->
            <!--                        <img class="img-responsive page-base-image" src="./static/assets/images/python-logo-02.png" alt="">-->

            <!--                </div>-->
            <!-- <div class="col-md-4">-->
            <!--                        <img class="img-responsive page-base-image" src="./static/assets/images/python-logo-02.png" alt="">-->
            <!---->
            <!--                </div>-->
            <!-- <div class="col-md-4">-->
            <!--                        <img class="img-responsive page-base-image" src="./static/assets/images/python-logo-02.png" alt="">-->
            <!--                </div>-->
            <!-- <div class="col-md-4">-->
            <!--                        <img class="img-responsive page-base-image" src="./static/assets/images/python-logo-02.png" alt="">-->
            <!--                </div>-->

        </div>
    </div>

</div>


</div>

</div>


</div>


<footer>
    <div class="section-container footer-container">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>About us</h4>
                    <p>Nigeria's 1st Tech Law Firm focused on providing Legal Aid, Web Application Solutions,
                    Artificial Intelligence and Automation for The Judiciary, Lawyers and Clients.</p>
                </div>

                <div class="col-md-4">
                    <h4>Do you like ? Share this !</h4>
                    <p>
                        <a class="social-round-icon white-round-icon fa-icon" href="https://facebook.com/" title="">
                            <i aria-hidden="true" class="fa fa-facebook"></i>
                        </a>
                        <a class="social-round-icon white-round-icon fa-icon" href="https://twitter.org/" title="">
                            <i aria-hidden="true" class="fa fa-twitter"></i>
                        </a>
                        <a class="social-round-icon white-round-icon fa-icon" href="https://www.linkedin.com/" title="">
                            <i aria-hidden="true" class="fa fa-linkedin"></i>
                        </a>
                        <a class="social-round-icon white-round-icon fa-icon" href="https://www.telegram.org/" title="">
                            <i aria-hidden="true" class="fa fa-telegram"></i>
                        </a>
                        <a class="social-round-icon white-round-icon fa-icon" href="https://www.reddit.com/" title="">
                            <i aria-hidden="true" class="fa fa-reddit"></i>
                        </a>
                        <a class="social-round-icon white-round-icon fa-icon" href="https://www.instagram.com/"
                           title="">
                            <i aria-hidden="true" class="fa fa-instagram"></i>
                        </a>
                    </p>
                    <p><small>© 2021 | Web App Developed with 💜 by EMEKA OBOLI
                        <!--                            <a href="http://www.mashup-template.com/" class="link-like-text" title="Create website with free html template">Mashup Template</a>/<a href="http://www.unsplash.com/" class="link-like-text" title="Beautiful Free Images">Unsplash</a></small></p>-->
                </div>

                <div class="col-md-4">
                    <!--                        <h4>Subscribe to newsletter</h4>-->

                    <!--                        <div class="form-group">-->
                    <!--                            <div class="input-group">-->
                    <!--                                <input type="text" class="form-control footer-input-text">-->
                    <!--                                <div class="input-group-btn">-->
                    <!--                                    <button type="button" class="btn btn-primary btn-newsletter ">OK</button>-->
                </div>
            </div>
        </div>


    </div>
    </div>
    </div>
    </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
  });

</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

-->
<script src="./static/main.41beeca9.js" type="text/javascript"></script>
</body>

</html>
